body {
	font-family: "Helvetica Neue", Times, serif;
	background: #f7f7f7;
	color: black;
}

body > section, article {
	padding: 0 10px;
	margin: 0 auto 120px auto;
	max-width: 900px;
}

article {
	/* the padding is 116px 116px 80px 116px, from which we remove the border */
	padding: 0px 88px 72px 108px;
	background: #fff;
	border-top: 5px solid transparent;
	border-right: 28px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 4px solid transparent;
	font-size: 16.875px;
	font-weight: 300;
	line-height: 24px;
	-moz-hyphens: auto;
	hyphens: auto;
}

h1{
	font-size: 3.68vw;
	text-align: center;
}

h2{
	font-size: 2.78vw;
}

h3{
	font-size: 2.08vw;
}

h4{
	font-size: 1.56vw;
}

p{
	font-size: 0.88vw;
}

.contact .jesusjimsa{
	margin-right: 500px;
	margin-top: 16px;
}

img{
	width: 100%;
	max-width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}